.container {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    
}

.center {
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.chart {
    width: 30vw;
    height:20vh;
    border: 1px solid red;
}

.search-box {
    width: 20rem;
    border-radius: 9px;
}