@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

body {
    font-family: 'DotGothic16', sans-serif;
    font-weight: 600;
    background-color: rgb(187, 191, 196);
}
.container {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;   
}

.center {
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

form {
    display: grid;
    grid-template-rows: 1fr,1fr;
    gap: 1rem;
    font-family: 'DotGothic16', sans-serif;
}

.search-box {
    width: 20rem;
    height: 2rem;
    border-radius: 9px;
    text-align: center;
    font-family: inherit;
}

.search-btn {
    width: 12rem;
    height:1.5rem;
    cursor: pointer;
    background-color: rgba(43, 90, 245, 0.4);
    color: rgb(2, 9, 10);
    font-family: inherit;
    font-weight: inherit;
}


.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}


img {
    width: 7rem;
    height: 7rem;
    border-radius: 100px;
    border: 5px solid salmon;
    margin-top: 1vh;
    animation: avatar-load 1000ms;
}

.userInfo {

    animation: info-load 1800ms;
    padding-top: 1vh;

}

ul {
    animation: info-load 1800ms;
}

li {
    list-style: none;
    animation: info-load 1800ms;
}

.charts {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 1em;
    width: 20rem;
    height: 16rem;
}



@keyframes avatar-load {
    0% {
        transform: translateX(1000%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes info-load {
    0% {
        transform: translateX(1000%);
    }
    100% {
        transform: translateX(0%);
    }
}

header > * {
    display: flex;
    max-width: 5rem;
    animation: none; 
    border: none;
    background-color: aquamarine;
    height: 6rem;
    margin: 0.7rem;
}